
.body{
	background-image: url("cruz_borgona.png");
	background-size: 100% auto;
	/*background-repeat: no-repeat;*/
	overflow-x: hidden;
}

header{
	background-color: #a31717;
	padding: 1em;
	margin: -1em;
	position: fixed;
	width: 100%;
	border-bottom: 5px solid #4b0303;
}
h1{
	text-align: center;
}

.art{
	text-align: center;
	padding: 2%;
	width: 60%;
	margin: 8% auto;
	margin-right: 10%;
	margin-top: 15%;
	border-radius: 0px;
	border: 5px solid #4b0303;
	background-color: #a31717;
	min-height: 100vh;
}
.titulo{
	font: 2.5em italic;
}
.parrafo{
	font: 1em italic;
	text-align: justify;
	text-indent: 1.6em;
}
.subtitle{
	font: 1.2em italic;
	text-align: left;
	margin-left: 5%;
	margin-bottom: 2%;
}
.menu{
	border: 5px solid #4b0303;
	float: left;
	background-color: #a31717;
	margin-left: 1%;
	margin-top: -5%;
	width: 20%;
	position: fixed;
	height: 70vh;
	overflow: auto;
}

.tema:hover{
	background-color: #e34d4d;
}
.tema{
	font: 1em italic;
	padding: 2.5%;
}

footer{
	background-color: #a31717;
	color: black;
	padding: 1em;
	margin: -1em;
	position: absolute;
	width: 100vw;
	text-align: center;
	z-index: 999;
	bottom: 0;
	left: 0;
	border-top: 5px solid #4b0303;
}
.datos-pie{
	text-align: center;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.content{
	flex: 1;
}














.MenuVer,.MenuSub{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}


.nave{
	margin: auto;
}

.MenuSup{
	display: flex;
	align-items: center;
	background-color: #a31717;
	margin: -1em;
	list-style: none;
	justify-content: space-around;
}
.BtnSup:hover{
	background-color: #e34d4d;
}


.BtnSup{
	text-align: center;
	padding: 0.5em;
	flex: 1;
	margin: 0 8%;
	max-width: 200vw;
	background-color: #a31717;
}

.MenuSup > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
}


.MenuSup li:hover .MenuVer{
	display: block;
}

.MenuVer{
	position: absolute;
	display: none;
	list-style: none;
	width: 18%;
	background-color: rgba(163, 46, 46, .5);
	margin-top: 10px;
}

.MenuVer li:hover{
	background-color: rgba(163, 46, 46, .8);
}

.MenuVer li a{
	display: block;
	color: white;
	padding: 8% 8% 8% 10%;
}







.MenuVer li:hover .MenuSub{
	display: block;
}


.MenuVer > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.MenuSub{
	position: absolute;
	display: none;
	list-style: none;
	width: 65%;
	background-color: rgba(163, 46, 46, .5);
	margin-left: 100%;
	margin-top: -45px;
}

.MenuSub li:hover{
	background-color: rgba(163, 46, 46, .8);
}

.MenuSub li a{
	height: 20px;
	display: block;
	color: white;
	padding: 8% 8% 8% 10%;
}
