
.body{
	background-image: url("cruz_borgona.png");
	background-size: 100% auto;
	/*background-repeat: no-repeat;*/
}

header{
	background-color: #a31717;
	padding: 1em;
	margin: -1em;
	position: fixed;
	width: 100%;
	border-bottom: 5px solid #4b0303;
}
h1{
	text-align: center;
}
.BtnSup{
	text-align: center;
	padding: 0.5em;
	flex: 1;
	margin: 0 8%;
	max-width: 200px;
	background-color: #a31717;
}
.MenuSup{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #a31717;
	margin: -1em;
}
.BtnSup:hover{
	background-color: #e34d4d;
}
.art{
	text-align: center;
	padding: 2%;
	width: 60%;
	margin: 8% auto;
	margin-right: 10%;
	margin-top: 15%;
	border-radius: 0px;
	border: 5px solid #4b0303;
	background-color: #a31717;
}
.titulo{
	font: 2.5em italic;
}
.parrafo{
	font: 1em italic;
	text-align: justify;
	text-indent: 1.6em;
}
.subtitle{
	font: 1.2em italic;
	text-align: left;
	margin-left: 5%;
	margin-bottom: 2%;
}
.menu{
	border: 5px solid #4b0303;
	float: left;
	background-color: #a31717;
	margin-left: 1%;
	margin-top: -5%;
	width: 20%;
	position: fixed;
}

.tema:hover{
	background-color: #e34d4d;
}
.tema{
	font: 1em italic;
	padding: 2.5%;
}

footer{
	background-color: #a31717;
	color: black;
	padding: 1em;
	margin: -1em;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 999;
	bottom: 0;
	left: 0;
	border-top: 5px solid #4b0303;
}
.datos-pie{
	text-align: center;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.content{
	flex: 1;
}

